
/* Index styles - File to define the index styles */

.menu_imgs{
    width: 80%;
    height: 400px;
}
header{
    margin-top: 120px !important;
}
@media(hover: hover) and (pointer: fine) {
    .menu_imgs:hover, .menu_imgs:active, .menu_imgs:focus{
        transform: scale(1.1);
    }
}

.alter_button{
    position: absolute;
    padding: 7px 20px 7px 20px;
    background: rgba(216, 212, 212, 0.315);
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    transition: 0.1s all ease-in;
    -webkit-appearance: none;
}
.alter_button:hover{
    background-color: rgba(216, 212, 212, 0.74);
    color: white;
}

/* media quieries header styles - 992px (break-point) */
@media only screen and (max-width: 992px) {
    .menu_imgs{
        width: 70%;
        height: 400px;
    }
    .article{
        background-image: linear-gradient(#fcd5ce, #a7e8bd, #fcd2af, #cddafd, #fcd5ce, #f1ffc4, #f7d9c4) !important;
    }
}
/* media quieries header styles - 768px (break-point) */
@media only screen and (max-width: 767px) {
    .menu_imgs{
        width: 75%;
        height: 400px;
    }
}
/* media quieries header styles - 576px (break-point) */
@media only screen and (max-width: 576px) {
    
    .menu_imgs{
        width: 75%;
        height: 270px;
    }
}
