
/* general-styles - File to define the global styles */

@font-face {
  font-family: 'title';
  src: url('../fonts/Little\ Comet\ Bubling\ Demo\ Version.otf');
}

@font-face {
  font-family: 'secondary-title';
  src: url('../fonts/AccidentalPresidency.ttf');
}

@font-face {
  font-family: 'text';
  src: url('../fonts/Acumin-RPro.otf');
}

  
  /* Definition of global css variables */
  :root{
    --font-nav-size: 11.9608px;
    --brown-color: #877673;
    --brown-dark-color: #616161;
    --white-color: white;
    --green-extralight-color: #F0F2FA;
    --green-dark-color: #5FD39F;
    --main-font: futura-pt_normal;
    --light-font: futura-pt_light;
    --font-size-small: 17px;
  }
  /* box-size rules */
  *, body{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: text;
  }
  
  /* body tag styles */
  body {
    z-index: -2;
    background:transparent;
  }
  /* main general styles */

  /* colors */
  .green{
    color: var(--green-dark-color);
  }
  .piel{
    color: #FF715B;
  }
  .morado{
    color: #C04CFD;
  }
  .blue{
    color: #3772FF;
  }
  .vermillon{
    color: #CD4631;
  }
  .pink{
    color: #D90368;
  }
  .menta{
    color: #DDFFF7;
  }
  .orange{
    color: #F95738;
  }
  .limon{
    color: #FAF0CA;
  }
  .yellow{
    color: #F1D302;
  }
  .green-yellow{
    color: #B1CC74;
  }
  .agua-marina{
    color: #60D394;
  }
  .blue-green{
    color: #98B9AB;
  }
  .hean{
    color: #5E2BFF;
  }
  .beauty{
    color: #FC6DAB;
  }
  .green-dark{
    color: #36453B;
  }
  .ebony{
    color: #515751;
  }
  .cadet{
    color: #596869;
  }
  .fire-opal{
    color: #DE6449;
  }
  .club-colombia{
    color: #941023;
  }
  .brown{
    color: #4B2707;
  }
  .brown-sugar{
    color: #BB7E5D;
  }
  .light-blue{
    color: #32CBFF;
  }
  .light-purple{
    color: #704C5E;
  }
  .items-color{
    color: #545454;
  }
  .grey{
    color: grey !important;
  }
  .titles-color{
    color: #305252;
  }
  .cafe1{
    color: #b7b7a4;
  }
  .cafe2{
    color: #a5a58d;
  }
  .cafe3{
    color: #6b705c;
  }
  .cafe4{
    color: #9c6644;
  }
  .cafe5{
    color: #7f5539;
  }
  .cafe6{
    color: #b08968;
  }
  .cafe7{
    color: #ede0d4;
  }
  .transparent{
    background: #ffffff8f;
  }

  /* fonts */
  .title{
    font-family: title;
  }
  .secondary-title{
    font-family: secondary-title;
  }
  .text{
    font-family: text;
  }
  .justify-text{
    text-align: justify;
  }

  .font-menu{
    font-size: 11px;
  }
  .button{
    font-size: var(--font-nav-size);
    color: rgb(110, 104, 104);
    background-color: #ffe5d9;
    padding: 10px 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .imgs{
    width: 100%;
    height: 300px;
  }
  .logos-nav a img{
    width: 22px;
    height: 22px;
  }
  .font-size-small{
    font-size: var(--font-size-small);
  }
  .active{
    z-index: 0 !important;
    -webkit-transform:translate3d(0,0,0);
  }
  .whatsapp{
    z-index: 100;
    bottom: 20px;
    right: 25px;
    position: fixed;
    -webkit-appearance: none;
  }
  .whatsapp img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  /* HEADER STYLES */
  
  /* nav styles */
  nav { 
    background-color: #fff1e6;
    min-height: 150px;
    z-index: 1;
    top: 0;
    transition: top 0.3s;
  }
  nav ul li a {
    font-size: var(--font-nav-size);
    font-family: var(--main-font);
    color: var(--brown-color);
    text-decoration: none;
  }
  nav ul li a:hover{
    color: var(--brown-color);
  }
  nav div a img{
    width:120px; 
    height:120px;
  }
  nav .menu .menuContent a svg{
    color: var(--brown-color);
  }
  nav .menu .menuContent button{
    color: rgb(110, 104, 104);
    background-color: #ffe5d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 12px 15px;
    font-size: 16px;
    padding: 15.36px 25.6512px;
    width: 200px;
  }
  nav button:hover{
    opacity: 0.5;
  }

  article{
    padding-bottom: 30px;
  }

  /* FOOTER STYLES */
  footer{
    background-color: #fff1e6;
    min-height: 200px;
  }
  footer ul li a{
    color:var(--brown-color);
    font-family: var(--main-font);
    font-size: 12px;
  }
  footer ul li a:hover{
    color: var(--brown-dark-color);
  }
  footer span{
    color:var(--brown-color);
    font-family: var(--main-font);
    font-size: 14px;
  }
  
  /* MEDIA QUERIES */
  
  /* media quieries nav styles - 992px (break-point) */
  @media only screen and (max-width: 992px){
    .font-menu{
      font-size: 10px;
    }
    article{
      background-color: #fcd5ce !important;
      background-image: linear-gradient(#fcd5ce, #a7e8bd, #fcd2af, #cddafd, #f1ffc4) !important;
    }
    header{
      background-color: #fcd5ce;
    }
  }

  /* media quieries nav styles - 992px (break-point) */
  @media only screen and (max-width: 767px) {
    .whatsapp{
      right: 15px;
    }
  }

  /* media quieries nav styles - 576px (break-point) */
  @media only screen and (max-width: 576px){
    nav{
      min-height: 100px;
    }
    nav div a img{
      width:120px; 
      height:120px;
    }
    /* footer media query styles */
    footer{
      min-height: 200px;
    }
  }
  
  /* Full screen nav styles */
  .open {
    /* background-color: transparent; */
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    /* top: 8px; */
  }
  .open:before {
    content: "";
    background-color: var(--brown-color);
    width: 30px;
    height: 3px;
    opacity: 0.5;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 3px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  .open:after {
    content: "";
    background-color: var(--brown-color);
    width: 30px;
    height: 3px;
    opacity: 0.5;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 13px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    cursor: pointer;
  }
  .menu {
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    background-color: rgba(255, 255, 255, 0.884);
    z-index:-1;
  }
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  .menu .menuContent {
    height: 60vh;
    overflow: scroll;
  }
  .menu ul {
    list-style: none;
  }
  .menu ul li a {
    color: var(--brown-color);
    text-decoration: none;
    transition: color 0.2s;
    font-family: var(--light-font);
    font-weight: 70;
    font-size: 35px;
    text-transform: uppercase;
  }
  .menu ul li a:hover {
    color: var(--brown-color);
  }
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
